# Problem Definition

In [2]:
#Measuring the success of IGTV as a product with focus on, User Growth and Aoption metrics. Here will answer the following;
#a. User Registration - This metric helps gauge the initial interest and adoption of IGTV among Instagram users.
#b. Active Users - Monitor the percentage of Instagram users who engage with IGTV regularly
#c. User Retention - Analyze the rate at which users continue to use IGTV over time

# Data Collection and Exploration

In [3]:
pwd

'C:\\Users\\admin\\Desktop\\Personal stuff\\LUX ACADEMY-BOOTCAMP\\WEEK 1\\PROJECT'

In [24]:
#importing the required modules
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

#importing the required libraries from their modules
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [25]:
# Load the dataset
df = pd.read_csv('IGTV_user_engagement.csv')

# Explore the dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  1000 non-null   int64
 1   first_name          1000 non-null   object
 2   last_name           1000 non-null   object
 3   email               1000 non-null   object
 4   gender              1000 non-null   object
 5   ip_address          1000 non-null   object
 6   user_id             1000 non-null   int64
 7   registration_date   1000 non-null   object
 8   engagement_level    1000 non-null   object
 9   adoption_status     1000 non-null   object
 10  watch_time          1000 non-null   float64
 11  likes               1000 non-null   int64
 12  comments            1000 non-null   int64
 13  followers           1000 non-null   int64
 14  share_count         1000 non-null   int64
 15  last_activity_date  1000 non-null   object
dtypes: float64(1), int64(6), object(9)
memory usage: 125.1+ KB
None

In [26]:
#show the first 5 rows of the data
print(df.head(5))

   id first_name last_name                 email  gender       ip_address  \
0   1      Ivett    Hayman      ihayman0@who.int  Female     239.9.95.248
1   2      Wally    Chaize    wchaize1@wired.com  Female  154.139.215.113
2   3     Trisha    Slixby      tslixby2@bbb.org  Female    254.167.141.6
3   4       Lari   Cobello  lcobello3@ustream.tv  Female  236.244.110.208
4   5      Emera     Myles        emyles4@goo.gl  Female  148.173.233.227

   user_id registration_date engagement_level    adoption_status  watch_time  \
0        1        12/23/2010             high        not adopted      305.42
1        2         5/30/2011           medium        not adopted      892.42
2        3         5/21/2015           medium      fully adopted      765.31
3        4         9/25/2021              low  partially adopted      452.38
4        5          2/5/2021             high      fully adopted      323.80

   likes  comments  followers  share_count last_activity_date
0     91        20       3130           88         10/25/2022
1     70        29        415           29          4/29/2021
2     19        37       1009            7          3/17/2020
3     49        35        368           21          2/10/2020
4     27        14       8065           68          4/16/2021

In [27]:
#show the last 5 rows of the data
print(df.tail(5))

       id first_name  last_name                     email    gender  \
995   996      Marti    Pohling  mpohlingrn@artisteer.com    Female
996   997     Elysha  Tremoulet      etremouletro@umn.edu    Female
997   998     Saidee     Cumbes        scumbesrp@xrea.com   Agender
998   999     Ashbey     Atmore         aatmorerq@irs.gov      Male
999  1000        Art    Nannini      ananninirr@alexa.com  Bigender

          ip_address  user_id registration_date engagement_level  \
995      54.103.29.0      996          2/1/2022             high
996     247.32.94.22      997          6/1/2018              low
997  114.108.100.179      998         1/29/2015              low
998   99.255.174.249      999          6/4/2019             high
999  188.163.169.155     1000         5/20/2014           medium

       adoption_status  watch_time  likes  comments  followers  share_count  \
995  partially adopted      111.05     27        19       1712           32
996  partially adopted      279.77     54        16       2045           71
997      fully adopted      402.72     86         1       3405           28
998      fully adopted      266.86     38        23       2199           26
999        not adopted      960.15     79        38       9427           60

    last_activity_date
995         12/28/2021
996          2/25/2021
997          6/13/2022
998          6/26/2020
999          4/17/2022

In [28]:
#display the numerical standard calculations of numerical values
print(df.describe())

                id      user_id   watch_time        likes     comments  \
count  1000.000000  1000.000000  1000.000000  1000.000000  1000.000000
mean    500.500000   500.500000   509.556930    49.066000    25.959000
std     288.819436   288.819436   286.404102    29.356012    14.767105
min       1.000000     1.000000     0.180000     0.000000     0.000000
25%     250.750000   250.750000   275.032500    24.000000    14.000000
50%     500.500000   500.500000   510.725000    48.000000    26.000000
75%     750.250000   750.250000   768.370000    75.000000    39.000000
max    1000.000000  1000.000000   999.530000   100.000000    50.000000

         followers  share_count
count  1000.000000  1000.000000
mean   5141.793000    49.422000
std    2909.775166    29.201278
min       9.000000     0.000000
25%    2614.250000    24.000000
50%    5182.500000    49.000000
75%    7658.250000    74.000000
max    9995.000000   100.000000

In [29]:
# Data Visualization for User Growth and Adoption Metrics
plt.figure(figsize=(12, 6))

# Exploratory Data Analysis

In [31]:
#Show shape before missing values are dropped
print("Shape before missing values are dropped", df.shape)

#Show shape after missing are dropped
print("Shape after missing values are dropped", df.shape)

#Handle missing values by dropping them
df.dropna(inplace=True)

Shape before missing values are dropped (1000, 16)
Shape after missing values are dropped (1000, 16)

In [45]:
# Converting type of columns to category
categorical_columns = df.select_dtypes(include=[object]).columns
Label_Encoders = {}

for col in categorical_columns:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])
    Label_Encoders[col] = le
    
#print the dataframe after encoding
print("\nDataframe after encoding")

#print the LabelEncoder for each column
print("\nLabelEncoders:")
for col, encoder in Label_Encoders.items():
    print(f"{col}): {encoder.classes_}")

Dataframe after encoding

LabelEncoders:

In [46]:
#show the different datatypes
print(df.dtypes)

id                      int64
first_name              int32
last_name               int32
email                   int32
gender                  int32
ip_address              int32
user_id                 int64
registration_date       int32
engagement_level        int32
adoption_status         int32
watch_time            float64
likes                   int64
comments                int64
followers               int64
share_count             int64
last_activity_date      int32
dtype: object

In [48]:
#The encoded columns are gender, engagement_level and adoption_status
#col.gender
# Male = 5 and Female = 2
# col.engagement_level
# High = 0, Medium = 2 and Low = 1
# col.adoption_status
# fully adopted = 0, partially adopted = 2 and not adopted = 1

In [51]:
df.head(10)

,id,first_name,last_name,email,gender,ip_address,user_id,registration_date,engagement_level,adoption_status,watch_time,likes,comments,followers,share_count,last_activity_date
0,1,475,411,496,2,594,1,263,0,1,305.42,91,20,3130,88,89
1,2,907,158,966,2,235,2,549,2,1,892.42,70,29,415,29,338
2,3,882,831,938,2,667,3,525,2,0,765.31,19,37,1009,7,265
3,4,566,182,605,2,576,4,862,1,2,452.38,49,35,368,21,205
4,5,317,639,345,2,209,5,357,0,0,323.80,27,14,8065,68,315
5,6,456,183,460,5,433,6,244,2,0,110.45,81,0,6382,91,445
6,7,861,806,937,2,95,7,102,0,0,13.17,21,8,1317,6,49
7,8,647,478,670,2,434,8,562,0,1,221.01,85,7,858,72,318
8,9,387,815,437,5,873,9,94,1,2,603.89,24,37,3555,19,227
9,10,512,420,566,2,949,10,876,2,0,930.76,19,35,9637,90,275

In [15]:
#import pickle

In [ ]:
#pickle.dump(best_model, open)